@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hex-clip-path: polygon(0 30%, 52% 0, 100% 33%, 100% 64%, 58% 100%, 0 74%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #22203E;
  overflow-x: hidden;
}
.hex {
  -webkit-clip-path: var(--hex-clip-path);
  clip-path: var(--hex-clip-path);
}

.hover-me {
  flex: 1;
  transition: all 0.3s ease;
}

.hover-me:first-child {
  flex: 3;
}

.hover-me:hover {
  flex: 3;
}

.hover-me:not(:hover) {
  flex: 1;
}

.fade-out {
  animation: fadeOut linear forwards 1s;
  animation-delay: 1s;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
