@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hex-clip-path: polygon(0 30%, 52% 0, 100% 33%, 100% 64%, 58% 100%, 0 74%);
  --hex-clip-path-B: polygon(15% 0, 84% 0, 100% 64%, 84% 100%, 23% 100%, 0 82%, 0 17%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #22203E;
  overflow-x: hidden;
}
.hex {
  -webkit-clip-path: var(--hex-clip-path);
  clip-path: var(--hex-clip-path);
}
.hex-B {
  -webkit-clip-path: var(--hex-clip-path-B);
  clip-path: var(--hex-clip-path-B);
}
.hover-me {
  flex: 1;
  transition: all 0.3s ease;
}

.hover-me:first-child {
  flex: 3;
}

.hover-me:hover {
  flex: 3;
}

.hover-me:not(:hover) {
  flex: 1;
}

.custom-underline {
  position: relative;
}
.custom-underline::after {
  content: '';
  position: absolute;
  bottom: 12%;
  left: 0;
  height: 1px;
  width: 100%;
  background: #D4D4D4;
}

.fade-out {
  animation: fadeOut linear forwards 1s;
  animation-delay: 1s;
}

.in-active-height {
  max-height: 0px;
}
.active-height {
  max-height: 1000px;
}

.rotate-in-active {
  transform: rotate(90deg);
}
.rotate-active {
  transform: rotate(-90deg);
}

.expand-75 {
  width: 75%;
  transition: all 0.5s ease;
}

.shrink-25 {
  width: 25%;
  transition: all 0.5s ease;
}
.agenda-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: rgba(255, 255, 255);
  background-color: #FFFF;
}

.agenda-scroll::-webkit-scrollbar {
  width: 2px;
  background-color: #FFFF;
}

.agenda-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #D4396A;
  background: #D4396A;

}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
